<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editing campground details</title>
</head>
<body>
    <h1>Provide details for your new campground:</h1>
    <form action="/campgrounds/<%=identifiedCamp._id%>?_method=put" method=POST>
    <div>
        <label for="title">Title</label>
        <input type="text" id="title" name="campground[title]" value="<%=identifiedCamp.title%>">
    </div>
    <div>
        <label for="location">Location</label>
        <input type="text" id="location" name="campground[location]" value="<%=identifiedCamp.location%>">
    </div>
    <button>Edit Campground</button>
    <br>
    <a href="/campgrounds/<%=identifiedCamp._id%>">Return to campground details</a>
</form>
</body>
</html>