<!-- We will create an unordered list and use EJS to generate a "for" loop. By  iterating through all of the campgrounds in our database, we will be able to display every campground in our database on this page. -->


<!-- We will now prepare the index EJS page so that its "boilerplate" is supplied by "boilerplate.ejs" instead of within the "index.ejs" file itself. This will involve setting up "index.ejs" so that it knows where to acquire its "layout" from as well as removing everything from the "index.ejs" template that is now being accounted for by the boilerplate layout-->

<!-- We can do the same for each of the other templates. After we have tested that each template works correctly with the "boilerplate" layout, we can remove the "before-after" text in our layout.-->

<% layout("layouts/boilerplate_start") %>
    <h1>Campground List:</h1>
    <ul>
        <% for (let campground of campgroundIndex) { %>
            <li> <a href="campgrounds/<%=campground._id%>">Campground: <%=campground.title%></a> </li>
        <% } %>
    </ul>
    <br>
    <a href="campgrounds/new">Create a new campground</a>

