<!-- We will create an unordered list and use EJS to generate a "for" loop. By  iterating through all of the campgrounds in our database, we will be able to display every campground in our database on this page. -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campgrounds</title>
</head>
<body>
    <h1>Campground List:</h1>
    <ul>
        <% for (let campground of campgroundIndex) { %>
            <li> <a href="campgrounds/<%=campground._id%>"><%=campground.title%></a> </li>
        <% } %>
    </ul>
</body>
</html>

